body, html{
  height:100%;
}
body{
  background-image: url('img/deadpool_bg.png');
  background-repeat: no-repeat;
  margin: 0px;
  background-color:#444;
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: red;
}
.title, .addDancerButton, .lineUp, .danceOff{
  padding:5px 12px;
  float:right;
}

.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  position:absolute;
}

.subDancer{
  position:absolute;
}

.deadpool-2:hover {
  transform: scale(3);
  transition: all 1s;
}

.deadpool-3:hover {
  transform: scale(1.2) rotate(360deg);
  transition: all 1s;
}

.deadpool-4:hover {
  transform: scale(1.5);
  transition: all 1s;
}

.deadpool-1 {
  width: 110px;
  height: 160px;
}

.deadpool-2 {
  width: 124px;
  height: 220px;
}

.deadpool-3 {
  width: 150px;
  height: 150px;
}

.deadpool-4 {
  width: 120px;
  height: 120px;
}

.deadpool-5 {
  width: 120px;
  height: 120px;

}